.env
__pycache__/
*.py[cod]
*.log
programs/output/img/*
programs/output/website/*
images/*
build/*
dist/*
venv
*.spec
database.py
adam.py

# Do NOT ignore the .gitkeep file
# !programs/output/img/.gitkeep